.card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 16px 0;
  padding: 16px 24px;
	/* max-width: 800px; */
  background-color: #fff;
  border: 0.3px solid #d3d3d3;
  box-shadow: 0px 2px 4px #d3d3d3;
  cursor: pointer;
  border-radius: 8px;
}

.card:hover {
  background-color: #F2F8FD;
	box-shadow: none;
}

.card-image-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.card-details-section {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.image {
	width: 40px;
		height: 136px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-subtitle {
  color: #D59E33;
  font-size: 16px;
}

.card-description {
  font-size: 16px;
	text-overflow: ellipsis;
}