.card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 16px 0;
  padding: 16px 24px;
  background-color: #fff;
  border: 0.3px solid #d3d3d3;
  box-shadow: 0px 2px 4px #d3d3d3;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
    width: 100%;
}

.card:hover {
  background-color: #F2F8FD;
	box-shadow: none;
}

.card-image-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.card-details-section {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: center;
}

.image {
	width: 40px;
	height: 136px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-subtitle {
  color: #D59E33;
  font-size: 16px;
}

.card-description {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
    max-height: 32px;
}
@media only screen and (max-width: 992px) {
  .card {
    max-height: 200px;
    width: 48%;
  }

  .card-details-section {
    flex: 3;
  }

  .image {
    width: 32px;
    height: 110px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-subtitle {
    font-size: 14px;
  }

  .card-description {
    font-size: 14px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    max-height: none;
    width: 100%;
    flex-direction: column;
  }

  .card-image-section {
    flex: 1;
    margin-bottom: 16px;

  }
  
  .card-details-section {
    flex: 1;
  }
  
  .image {
    width: 64px;
    height: 224px;
  }
}